# WK1 pandas Basics <hr style= "border:2.5px solid #126782"></hr>

Name: **Aleja A. Villegas** <br>
Course: **CPE2A**

pandas - derived from **Panel Data**

Import **pandas** and **numpy** library

In [ ]:
import pandas as pd
import numpy as np

Check the **version** of pandas

In [12]:
pd.__version__

'2.2.3'

# Creating Series Object

## List to Series

Create a **list** named **employee_names**

In [14]:
employee_names = ['Ammy White', 'Jack Stewart', 'Richard Lauderdale', 'Sarah Johnson']
employee_names

['Ammy White', 'Jack Stewart', 'Richard Lauderdale', 'Sarah Johnson']

Verify that the data type of *employee_names* object is a list

In [15]:
type(employee_names)

list

Create **pandas Series Object** named **employee_names_Series** containing the elements from the *employee_names* list

In [17]:
employee_names_Series = pd.Series(employee_names)
employee_names_Series

0            Ammy White
1          Jack Stewart
2    Richard Lauderdale
3         Sarah Johnson
dtype: object

Verify that the data type of *employee_names_Series* object is a **pandas Series**

In [18]:
type(employee_names_Series)

pandas.core.series.Series

Creating a Series object named **work_experience_years** directly using the structure **pd.Series([...])** containing the elements: 5,8,3 and 10

In [20]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

## Array to Series

Create a **NumPy Array** object named **array_age**

In [21]:
array_age = np.array([50,53,35,43])
array_age

array([50, 53, 35, 43])

Verify that the data type *aray_age* object is a **NumPy Array**

In [22]:
type(array_age)

numpy.ndarray

Create a **pandas Series** object named **series_age** from *array_age*

In [24]:
series_age = pd.Series(array_age)
series_age

0    50
1    53
2    35
3    43
dtype: int64

Verify that the date type of *series_age* object is **Series**

In [25]:
type(series_age)

pandas.core.series.Series

Use the **print()** function to display the content of *series_age*

In [26]:
print(series_age)

0    50
1    53
2    35
3    43
dtype: int64

# pandas Attributes

Create a **Pandas Series** object named **work_experience_years** containing the elements: 5,8,3, and 10

In [27]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

Assign letters *a,b,c, d* as **index** of the *Series*

In [28]:
work_experience_years = pd.Series([5,8,3,10], index = ['a','b','c','d'])
work_experience_years

a     5
b     8
c     3
d    10
dtype: int64

Check the **total number of elements** of the *Series*

In [29]:
work_experience_years.size

4

Verify that the data stored in the **Series** is an **Array**

In [30]:
work_experience_years.values

array([ 5,  8,  3, 10])

Check the data type of the **elements** stored in the *Series*

In [31]:
work_experience_years.dtype

dtype('int64')

Assign **Work Experience (Yrs.)** as a **name** of the *Series*

In [32]:
work_experience_years.name = "Work Experience (Yrs.)"

Display the **name** of the *Series*

In [33]:
work_experience_years.name

'Work Experience (Yrs.)'

Display the **Series** itself, to see the **name** appear below the data values it contains

In [34]:
work_experience_years

a     5
b     8
c     3
d    10
Name: Work Experience (Yrs.), dtype: int64

# Creating a Series Object from a Dictionary

Create a **dictionary** named **workers_age** with *names* of the employees as *keys* and *age* as *values*

In [36]:
workers_age = {'Amy White':50,
             'Jack Stewart':53,
              'Richard Lauderdale':35,
              'Sara Johnson':43}
workers_age

{'Amy White': 50,
 'Jack Stewart': 53,
 'Richard Lauderdale': 35,
 'Sara Johnson': 43}

Verify that the data type of *workers_age* object is a **dictionary**

In [37]:
type(workers_age)

dict

Create a **pandas Series** from *workers_age*, giving it the same name - **workers_age**

In [38]:
workers_age = pd.Series(workers_age)
workers_age

Amy White             50
Jack Stewart          53
Richard Lauderdale    35
Sara Johnson          43
dtype: int64

Verify that the data type of *workers_age* object is a **pandas Series**

In [39]:
type(workers_age)

pandas.core.series.Series

Retrieve the **index** of *workers_age*

In [40]:
workers_age.index

Index(['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], dtype='object')

# pandas Methods

Create a **pandas Series** named **employees_work_exp** from a *dictionary* with *names* of the employees as *keys* and *work experience* as *values*