# WK1 pandas Basics <hr style= "border:2.5px solid #126782"></hr>

Name: **Aleja A. Villegas** <br>
Course: **CPE2A**

pandas - derived from **Panel Data**

Import **pandas** and **numpy** library

In [ ]:
import pandas as pd
import numpy as np

Check the **version** of pandas

In [ ]:
pd.__version__

# Creating Series Object

## List to Series

Create a **list** named **employee_names**

In [ ]:
employee_names = ['Ammy White', 'Jack Stewart', 'Richard Lauderdale', 'Sarah Johnson']
employee_names

Verify that the data type of *employee_names* object is a list

In [ ]:
type(employee_names)

Create **pandas Series Object** named **employee_names_Series** containing the elements from the *employee_names* list

In [ ]:
employee_names_Series = pd.Series(employee_names)
employee_names_Series

Verify that the data type of *employee_names_Series* object is a **pandas Series**

In [ ]:
type(employee_names_Series)

Creating a Series object named **work_experience_years** directly using the structure **pd.Series([...])** containing the elements: 5,8,3 and 10

In [ ]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

## Array to Series

Create a **NumPy Array** object named **array_age**

In [ ]:
array_age = np.array([50,53,35,43])
array_age

Verify that the data type *aray_age* object is a **NumPy Array**

In [ ]:
type(array_age)

Create a **pandas Series** object named **series_age** from *array_age*

In [ ]:
series_age = pd.Series(array_age)
series_age

Verify that the date type of *series_age* object is **Series**

In [ ]:
type(series_age)

Use the **print()** function to display the content of *series_age*

In [ ]:
print(series_age)

# pandas Attributes

Create a **Pandas Series** object named **work_experience_years** containing the elements: 5,8,3, and 10

In [ ]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

Assign letters *a,b,c, d* as **index** of the *Series*

In [ ]:
work_experience_years = pd.Series([5,8,3,10], index = ['a','b','c','d'])
work_experience_years

Check the **total number of elements** of the *Series*

In [ ]:
work_experience_years.size

Verify that the data stored in the **Series** is an **Array**

In [ ]:
work_experience_years.values

Check the data type of the **elements** stored in the *Series*

In [ ]:
work_experience_years.dtype

Assign **Work Experience (Yrs.)** as a **name** of the *Series*

In [ ]:
work_experience_years.name = "Work Experience (Yrs.)"

Display the **name** of the *Series*

In [ ]:
work_experience_years.name

Display the **Series** itself, to see the **name** appear below the data values it contains

In [ ]:
work_experience_years

# Creating a Series Object from a Dictionary

Create a **dictionary** named **workers_age** with *names* of the employees as *keys* and *age* as *values*

In [ ]:
workers_age = {'Amy White':50,
             'Jack Stewart':53,
              'Richard Lauderdale':35,
              'Sara Johnson':43}
workers_age

Verify that the data type of *workers_age* object is a **dictionary**

In [ ]:
type(workers_age)

Create a **pandas Series** from *workers_age*, giving it the same name - **workers_age**

In [ ]:
workers_age = pd.Series(workers_age)
workers_age

Verify that the data type of *workers_age* object is a **pandas Series**

In [ ]:
type(workers_age)

Retrieve the **index** of *workers_age*

In [ ]:
workers_age.index

# pandas Methods

Create a **pandas Series** named **employees_work_exp** from a *dictionary* with *names* of the employees as *keys* and *work experience* as *values*

In [ ]:
employees_work_exp = pd.Series({
    'Amy White': 3,
    'Jack Stewart': 5,
    'Richard Lauderdale': 4.5,
    'Sara Johnson': 22,
    'Patrick Adams': 28,
    'Jessica Baker': 14,
    'Peter Hunt': 4,
    'Daniel Lloyd': 6,
    'John Owen': 1.5,
    'Jennifer Philips': 10,
    'Courtney Rogers': 4.5,
    'Anne Robinson': 2
})

Extract the **top five** values from this Series

In [ ]:
employees_work_exp.head()

Extract the **last five** rows from the Series

In [ ]:
employees_work_exp.tail()

Retrieve the **first three** records of the object

In [ ]:
employees_work_exp.head(3)

Retrieve the last four records of the object

In [ ]:
employees_work_exp.tail(4)

Sort the *Series* by work experience in **ascending** order

In [ ]:
employees_work_exp.sort_values()

Sort the *Series* by work experience in **descending** order

In [ ]:
employees_work_exp.sort_values(ascending=False)

Sort the *Series* by **index** in from A-to-Z

In [ ]:
employees_work_exp.sort_index()

Sort the *Series* by **index** in from Z-to-A

In [ ]:
employees_work_exp.sort_index(ascending=False)

# pandas DataFrames

Create a given example **DataFrame**

Method 1

In [ ]:
data = {
    "Name": ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'],
    "Age": [50, 53, 35, 43],
    "Working Experience (Yrs.)": [5,8,3,10]
}
df = pd.DataFrame(data)
df

Method 2

In [ ]:
name = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
age = [50, 53, 35, 43]
work_exp = [5,8,3,10]

df = pd.DataFrame({"Name": name,
                   "Age": age,
                   "Working Experience (Yrs.)": work_experience_years})
df